# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local

# Databases & IDE
*.db
*.sqlite3
*.sqbpro
.vscode/
.idea/
